html {
  font-size: 1em;
  ‑webkit‑text‑size‑adjust: 100%;
	-ms-text-size-adjust: 100%; 
  overflow-x: scroll;
}

body {
	margin: 0px;
	font-size: 16px;
	font-family: Raleway;
	text-align: left;
	color: #333333; 
	background-color: #DEE5FF;
  padding-top: 50px;
}

#navbar {
  position: fixed;
  overflow: hidden;
  font-size: 22px;
  background-color: #333333;
  top: 0px;
  left: 0px;
  width: 100%; 
  z-index: 1000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33;
}

#name {
  float: left;
  color: white;
  display: block;
  padding: 14px 16px;
}

li {
  float: right;
}

li a {
  color: white;
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none; 
}

li a:hover {
  color: #6B7AC9;
  background-color: white;
}

#home {
  padding: 60px;
}

input.set {
  display: none;
}

#slide1:checked ~ .mask .overflow { 
  margin-left:0; 
}

#slide2:checked ~ .mask .overflow { 
  margin-left:-100%; 
}

#slide3:checked ~ .mask .overflow { 
  margin-left:-200%; 
}

#slide4:checked ~ .mask .overflow { 
  margin-left:-300%; 
}

#slide5:checked ~ .mask .overflow { 
  margin-left:-400%; 
}

#slideshow-container {
  margin: 50px auto;
  width: 80%;
  position: relative;
}

#slideshow-container .mask {
  width: 90%;
  overflow: hidden;
  margin: auto;
}

#slideshow-container .overflow {
  width:400%; 
  -webkit-transform:translateZ(0); 
  -webkit-transition:all 0.5s ease-out; 
  -moz-transition:all 0.5s ease-out; 
  -o-transition:all 0.5s ease-out; 
  transition:all 0.5s ease-out; 
}

#slideshow-container .slide {
  width: 25%
  height: 200px;
  line-height:200px;
  float: left;
  background: #fff;
}

#controls {
  width: 100%;
}

#controls label { 
  display:none; 
  width:5%; 
  height:60px; 
  opacity:0.3; 
  position:absolute; 
  top:50%; 
  margin-top:-30px; 
  cursor:pointer; 
  background:#000; 
}

#controls label:hover { 
  opacity:0.8; 
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5) { 
  right:0; 
  display:block; 
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

#prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
  background-color: rgba(100,100,100,0.8);
}

#prev:target ~ .image-holder {
  left:0px;
}

#container {
  position: relative;
  top: 20px;
}

.windows-top {
  height: 50px;
  width: 100%;
  background-color: #B2AEB5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.circles-wrap {
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
}

.redcircle {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 20px;
}

.yellowcircle {
  height: 20px;
  width: 20px;
  background-color: #FCEA37;
  border-radius: 50%;
  position: absolute;
  left: 50px;
}

.greencircle {
  height: 20px;
  width: 20px;
  background-color: #53C25C;
  border-radius: 50%;
  position: absolute;
  left: 80px;
}

.window {
  height: 870px;
  width: 100%;
  background-color: #333;
  border-radius: 25px;
}

#about-me {
  background-color: #6B7AC9;
  font-family: Roboto Mono;
  padding: 60px; 
  position: relative;
}

#about-me-text {
  position: absolute;
  top: 70px;
  left: 20px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  word-break: break-all;
}

#about-me a:hover {
  text-decoration: italic;
}

span.output {
  color: white;
}

#projects {
  padding: 60px;
}

#contact {
  padding: 60px;
  color: white;
  background: #6B7AC9;
}

footer {
	padding: 50px;
  color: white;
  background: #333;
}

footer p{
  margin: 0;
}

<!-- typewriter effect from tutorial https://css-tricks.com/snippets/css/typewriter-effect/ --> 
.typewriter {
	color: #333333;
	font-family: Raleway;
	letter-spacing: .15em;
	overflow: hidden;
	white-space: no-wrap; 
	margin: 0 auto;
	animation:
		typing 3.5s steps(40, end),
		blink-cursor .75s step-end infinit; 
}

@keyframes typing {
	from {width: 0}
	to {width: 100%} 
}

@keyframes blinking-cursor {
	from, to {border-color: transparent}
	50% {border-color: TODO} 
}