html {
  font-size: 1em;
  ‑webkit‑text‑size‑adjust: 100%;
	-ms-text-size-adjust: 100%;
  overflow-x: scroll;
}

body {
	margin: 0px;
	font-family: Nunito;
	text-align: left;
	color: #black;
	background-color: #F7F0EC;
    padding-top: 50px;
}

.intro-image {
    overflow: hidden;
    max-width: 100%
    max-height: 100vh;
    margin: auto;
    z-index: 2;
    padding-top:200px;
    padding-left: 80px;
    height:100vh;
    min-height:400px;
}

#page-top {
    background-image: url('../images/canola-happy-2.jpg');
    max-width: 100%
    max-height: 100vh;
    margin: auto;
    z-index: 2;
    overflow: hidden;
    background-size:cover;
    height:100vh;
    min-height:400px;
}

#navbar {
  position: fixed;
  overflow: hidden;
  font-size: 22px;
  color: black;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to left, rgba(0, 255, 255, 0) 12%, rgba(255, 255, 255, 1) 50%, rgba(0, 255, 255, 0) 87%)
                0 0 100% 0/2px 0 2px 0 stretch;
}

.affix {
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;
  -o-transition:padding 0.2s ease-out;
  transition:padding 0.2s ease-out;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33;
}

li {
  font-family: Nunito;
  float: right;
}

li a {
  color: white;
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: black;
}

#name {
    float: left;
    overflow: hidden;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.full-name {
    color: red;
}

.intro {
    color: white;
}

#about-me {
    padding:60px;
    background: #333;
}

#experience {
    padding:60px;
    background: #333;
}

#projects {
    padding:60px;
    background: #333;
}

#contact {
    padding:60px;
    background: #333;
}
